name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          npm install
      - run: |
          npm run all

  uses:
    name: Uses
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ./
